@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

body { 
    background-color: #F6F5F8;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #DBDBDB;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF6411;
    border-radius: 20px;
}




/* Стили для верстки секии шапки */

.search-mobile-fullpage {
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    z-index: -10;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.search-mobile-fullpage.active {
    transform: scale(1);
    z-index: 10;
}

.search-mobile-pole {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.search-mobile-pole > input {
    width: 90%;
    font-size: 18px;
    padding: 15px 32px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;
    font-family: 'Montserrat', sans-serif;

    -webkit-appearance: none;


}

.search-mobile-pole-icon {
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;
}

.search-mobile-disable {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 20px;
}


.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #C9C9C9;
}

.header-top a {
    font-weight: 450;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #303030;
    transition: .5s ease-in-out;
}

.header-top a:hover {
    color: #FF6411;
}

.header-top-left {
    display: flex;
    gap: 55px;
}

.header-top-visually-impaired {
    display: flex;
    gap: 10px;
    align-items: center;
}

.language {
    display: flex;
    gap: 20px;
    align-items: center;
}

.language_drop {
    display: none;
}

.languagee {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.languagee::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: -100%;
    background-color: #FF6411;
    transition: .5s ease-in-out;
}

.languagee:hover {
    color: #FF6411;
}

.languagee:hover::before {
    left: 0;
}

.languagee.active {
    color: #FF6411;
}

.languagee.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FF6411;
}

.visually_text {
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
}

.header-centr {
    width: 100%;
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav > ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header-nav-ul {
    opacity: 1;
    transition: .5s ease-in-out;
}

.header-nav-ul.disable {
    opacity: 0;
}

.search_pole {
    width: 760px;
    transform: scale(0);
    position: absolute;
    height: 48px;
    z-index: 2;
    transition: .5s ease-out;
}

.search_pole.active {
    transform: scale(1);
}

.search_pole > input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 32px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px inset rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    opacity: 0;
    transition: 1s ease-in-out;
    top: 0;
    left: 0;
    box-sizing: border-box;

    -webkit-appearance: none;

}

.search_pole.active > input {
    opacity: 1;
}

.search_disable {
    display: none;
}

/* .search_disable.active {

} */

.header-nav-item > a {
    text-decoration: none;
    color: black;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    transition: .5s ease-in-out;
}

.header-nav-item.active > a {
    color: #FF6411;
}

.header-nav-item > a:hover {
    color: #FF6411;
}

.header-menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.search_icon > svg > path {
    transition: .5s ease-in-out;
}

.search_icon:hover > svg > path {
    fill: #FF6411;
}

.search_icon {
    display: flex;
}

.search_icon.active > svg > path {
    fill: #FF6411;
}

.search_icon_mobile > svg > path {
    transition: .5s ease-in-out;
}

.search_icon_mobile:hover > svg > path {
    fill: #FF6411;
}

.search_icon_mobile {
    display: none;
}

.search_icon_mobile.active > svg > path {
    fill: #FF6411;
}

/* .header-menu-icon > svg > rect {
    transition: .5s ease-in-out;
}

.header-menu-icon:hover > svg > rect {
    fill: #FF6411;
}

.header-menu-icon {
    position: relative;
}

.header-menu-icon.open > svg > rect:last-child {
    opacity: 0;
}

.header-menu-icon.open > svg > rect {
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-menu-icon.open > svg > rect:first-child {
    transform: rotate(-45deg);
} */

/* Иконка меню */

.menu-icon {
    width: 27px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-icon > span {
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scale(1);
    transition: .5s ease-in-out;
}

.menu-icon::before , .menu-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    transition: .2s ease-in-out;
}

.menu-icon::before {
    top: 0;
}

.menu-icon::after {
    bottom: 0;
}

.header-menu-icon.open > .menu-icon > span {
    transform: scale(0);
}

.header-menu-icon.open > .menu-icon::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header-menu-icon.open > .menu-icon::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header-menu-icon {
    cursor: pointer;
}

.header-menu-icon:hover > .menu-icon > span {
    background-color: #FF6411;
}
.header-menu-icon:hover > .menu-icon::before {
    background-color: #FF6411;
    
}
.header-menu-icon:hover > .menu-icon::after {
    background-color: #FF6411;
}

/*  */


.header_menu_drop {
    transition: .5s ease-in-out;
    position: absolute;
    max-height: 0;
    width: 111%;
    display: flex;
    justify-content: center;
    background-color: wheat;
    z-index: 10;
    top: 100%;
    left: -5.5%;
    overflow: hidden;
}

.header_menu_drop > .header-nav {
    height: 50vh;
}


/* Стили для верстки основной секции */

main {
    width: 90%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.main_img {
    width: 100%;
    border-radius: 30px;
    background-color: #EDEDED;
    position: relative;
    overflow: hidden;
}

.main_img_ {
    display: flex;
    justify-content: end;
}

.main_img_ > .main_img_text {
    position: absolute;
}

.main_img_text {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    left: 105px;
    z-index: 5;
}

.main_img_text_zagolovok {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}

.main_img_text_main {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.main_img_text_buttom {
    margin-top: 32px;
}

.main_img_text_buttom > a {
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 30px;
    background-color: #FF6411;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s ease-in-out;
}

.main_img_text_buttom > a:hover {
    background-color: #fbcc00;
}

.main_img_1 {
    display: flex;
}

.main_img_1 > img {
    height: 100%;
}

.main_img_2 {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
}

.main_img_2 > img {
    height: 100%;
    bottom: 0;
}

.main_text_mobile {
    display: none;
}


.specialists {
    width: 100%;
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.specialists_items {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    gap: 8px;
    padding: 11px 10px 12px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 450;
    font-size: 13px;
    line-height: 150%;
    text-transform: uppercase;
    color: #303030;
    transition: .5s;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.specialists_items:hover {
    background-color: rgba(255, 100, 17, 0.05);
    border: 1px solid #FF6411;
    box-shadow: 0px 1px 5px rgba(255, 100, 17, 0.16), 0px 1px 10px rgba(255, 100, 17, 0.08);
}

/* .categories {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    margin: 60px 0;
}

.categories_ {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.categories_.one > .categories_items {
    padding: 24px 0 0 32px;
    flex-shrink: 1;
}

.categories_.one > .categories_items:nth-child(1) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories_.one > .categories_items:nth-child(1) > img {
    right: 0;
}

.categories_.two > .categories_items {
    padding: 24px 0 295px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories_items {
    border-radius: 20px;
    background-color: #FF6411;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.categories_items > img {
    position: absolute;
    bottom: 0;
    right: -5%;
}

.categories_items > h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #303030;
}

.categories_items > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.categories_items > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #303030;
}

.categories_.one > .categories_items:nth-child(2) > h2 {
    color: #FFFFFF;
}
.categories_.one > .categories_items:nth-child(2) {
    background-color: #0066D7;
}
.categories_.one > .categories_items:nth-child(3) {
    background-color: #FBCC00;
}
.categories_.two > .categories_items {
    background-color: #3A53A3;
}
.categories_.two > .categories_items > h1 {
    color: #FFFFFF;
}
.categories_.two > .categories_items > p {
    color: #FFFFFF;
} */


.categories {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 70px 0;
}

.categories_ {
    width: 50%;
    gap: 20px;
    display: flex;
}

.categories__ {
    display: flex;
    gap: 20px;
}

.categories_.two_sekcia > .categories_items {
    padding: 24px 0 295px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #3A53A3;
    transform: translateZ(0);
}

.categories_.two_sekcia > .categories_items > h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.categories_.two_sekcia > .categories_items > p {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
}

.categories_items > img {
    position: absolute;
    bottom: 0;
    right: -6%;
}

.categories_items {
    border-radius: 20px;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.categories_.one_sekcia {
    flex-direction: column;
}

.categories_.one_sekcia > .categories_items {
    flex-basis: 100%;
    padding: 24px 0 0 32px;
    gap: 8px;
    background-color: #FF6411;
}

.categories_.one_sekcia > .categories_items > h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #303030;
}

.categories_.one_sekcia > .categories_items > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #303030;
}

.categories_.one_sekcia > .categories_items > img {
    right: 0;
}

.categories_.one_sekcia > .categories__ {
    flex-basis: 100%;
}

.categories__ > .categories_items { 
    padding: 14px 0 0 21px;
    width: 50%;
}

.categories__ > .categories_items:nth-child(1) {
    background-color: #0066D7;
    color: #FFFFFF;
}

.categories__ > .categories_items:nth-child(2) {
    background-color: #FBCC00;
    color: #303030;
}

.categories__ > .categories_items > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.categories_.one_sekcia > .categories_items:hover > img {
    transform: scale(1.05);
    bottom: 2.5%;
}

.categories_.one_sekcia > .categories__ > .categories_items:hover > img {
    transform: scale(1.05);
    bottom: 2.5%;
}

.categories_.two_sekcia > .categories_items:hover > img {
    transform: scale(1.1);
    bottom: 5.5%;
}

.categories_.one_sekcia img {
    transition: .2s ease-in-out;
}


.categories_.two_sekcia img {
    transition: .4s ease-in-out;
}

.advantages {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages_header > h1 {
    font-weight: 450;
    font-size: 40px;
    line-height: 120%;
    color: #303030;
}

.advantages_items {
    width: 100%;
    display: flex;
    gap: 24px;
}

.advantages_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.advantages_item_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.advantages_item_header {
    font-weight: 450;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #303030;
}

.advantages_item_main {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #303030;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #303030;
    border-radius: 20px;
    margin: 100px 0;
}

.form_header {
    padding: 40px 0 0 48px;
    font-weight: 450;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
}

.form_main {
    width: 100%;
}

.form_main > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 48px 48px 48px;
}

.form_main_stroke {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.form_main_stroke > input {
    flex-grow: 1;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    outline: none;
    padding: 14px 24px 15px;
    color: #9F9F9F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    -webkit-appearance: none;

}

.form_main_stroke > input:focus {
    border: 1px solid #FF6411;
    color: black;

    -webkit-appearance: none;
    
}

.form_main_stroke > input:last-child {
    flex-grow: 0;
    padding: 14px 32px 15px;
    background-color: #FF6411;
    color: #FFFFFF;
    border: 1px solid #FF6411;
    transition: .3s ease-in-out;
    cursor: pointer;

    -webkit-appearance: none;
    
}

.form_main_stroke > input:last-child:hover {
    background-color: #fbcc00;
    border: 1px solid #fbcc00;
}

.form_main_approval {
    display: flex;
    gap: 16px;
}

.form_main_approval > label {
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    
}

.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    gap: 40px;
}

.news_header {
    font-weight: 450;
    font-size: 40px;
    line-height: 120%;
    color: #303030;
}

.news_scroll {
    width: 100%;
    display: flex;
    gap: 24px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 30px;
}

.news_scroll_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news_scroll_item_img {
    transform: scale(1);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.news_scroll_item_img > img {
    transition: .3s ease-in-out;

}

.news_scroll_item_img:hover > img {
    transform: scale(1.1);
}

.news_scroll_item_text {
    font-weight: 450;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #303030;
}

.news_scroll::-webkit-scrollbar {
    height: 5px;
}

.news_scroll::-webkit-scrollbar-track {
    background-color: #DBDBDB;
    border-radius: 20px;
}

.news_scroll::-webkit-scrollbar-thumb {
    background-color: #FF6411;
    border-radius: 20px;
}

.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px 0;
}

.partners_header {
    font-weight: 450;
    font-size: 40px;
    line-height: 120%;
    color: #303030;
}

.partners_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}

.partners_items_hidden {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.partners_item {
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px 24px;
    border: 1px solid #FFFFFF;
    transition: .5s ease-in-out;
    height: 45px;
}

.partners_item:hover {
    box-shadow: 0px 1px 5px rgba(255, 100, 17, 0.16), 0px 1px 10px rgba(255, 100, 17, 0.08);
    border: 1px solid #FF6411;
    background-color: rgba(255, 100, 17, 0.05);
}


.partners_buttom {
    margin: 0 auto;
    background-color: #FF6411;
    border-radius: 30px;
    padding: 14px 32px 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
    cursor: pointer;
    transition: .3s ease-in-out;

}

.partners_buttom:hover {
    background-color: #fbcc00;
}

/* Footer */

footer {
    width: 100%;
    background-color: #303030;
    border-radius: 30px 30px 0px 0px;
}

.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 32px;
}

.footer_ones_sekcia {
    width: 100%;
    display: flex;
    gap: 64px;
}

.footer_ones_sekcia_items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_ones_sekcia_item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer_ones_sekcia_item > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: .5s ease-in-out;
}

.footer_ones_sekcia_item > a:hover {
    color: #FF6411;
}

.footer_ones_sekcia_items:last-child {
    flex-grow: 1;
    text-align: end;
}

.footer_ones_sekcia_item_icons {
    display: flex;
    gap: 16px;
    justify-content: end;
}

.footer_icons_block {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .5s ease-in-out;
}

.footer_icons_block > a {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 2;
}

.footer_icons_block:hover {
    background-color: #FF6411;
}

.footer_twos_sekcia {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 0;
    position: relative;
}

.footer_twos_sekcia::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    top: 0;
}

.footer_twos_sekcia_items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer_twos_sekcia_item {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    z-index: 2;
}

.footer_twos_sekcia_item.centr {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.footer_twos_sekcia_item > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: .5s ease-in-out;
}

.footer_twos_sekcia_item > a:hover {
    color: #FF6411;
}



